In [5]:
import fitz
import unicodedata
import unicodedata
from glob import glob
import pickle
import os
import pandas as pd

paths = glob('../../data/*/*최종답안.pdf')
display(paths)
path = paths[-1]

['../../data\\2019\\2019년도 제70회 약사 국가시험 1~4교시 최종답안.pdf',
 '../../data\\2020\\2020년도 제71회 약사 국가시험 1~4교시 최종답안.pdf',
 '../../data\\2021\\2021년도 제72회 약사 국가시험 1~4교시 최종답안.pdf',
 '../../data\\2022\\2022년도 제73회 약사 국가시험 1~4교시 최종답안.pdf',
 '../../data\\2023\\2023년도 제74회 약사 국가시험 1~4교시 최종답안.pdf']

In [6]:
df = pd.DataFrame()

for path in paths:
    doc = fitz.open(path)
    text = ""
    for page in doc:
        text += page.get_text()
    lines = text.split('\n')

    first = {}
    second = {}
    third = {}
    fourth = {}

    for i, line in enumerate(lines):
        if line == '1교시':
            first[lines[i+2]] = lines[i+3]
        elif line == '2교시':
            second[lines[i+2]] = lines[i+3]
        elif line == '3교시':
            third[lines[i+2]] = lines[i+3]
        elif line == '4교시':
            fourth[lines[i+2]] = lines[i+3]
            
    filename = os.path.basename(path).split()
    column_name1 = f'{filename[0][0:4]}_{filename[1][1:3]}_1'
    df1 = pd.DataFrame.from_dict(first, orient='index', columns=[column_name1])
    column_name2 = f'{filename[0][0:4]}_{filename[1][1:3]}_2'
    df2 = pd.DataFrame.from_dict(second, orient='index', columns=[column_name2])
    column_name3 = f'{filename[0][0:4]}_{filename[1][1:3]}_3'
    df3 = pd.DataFrame.from_dict(third, orient='index', columns=[column_name3])
    column_name4 = f'{filename[0][0:4]}_{filename[1][1:3]}_4'
    df4 = pd.DataFrame.from_dict(fourth, orient='index', columns=[column_name4])

    df = pd.concat([df, df1, df2, df3, df4], axis=1)

df.to_csv('answer.csv', encoding='utf-8-sig')

In [7]:
df

,2019_70_1,2019_70_2,2019_70_3,2019_70_4,2020_71_1,2020_71_2,2020_71_3,2020_71_4,2021_72_1,2021_72_2,2021_72_3,2021_72_4,2022_73_1,2022_73_2,2022_73_3,2022_73_4,2023_74_1,2023_74_2,2023_74_3,2023_74_4
1,4,5,5,3,2,2,2,4,4,5,5,5,2,3,5,1,5,3,1,1
2,2,2,2,2,4,1,2,3,3,4,4,4,1,4,1,4,4,2,4,3
3,2,3,4,4,1,3,3,5,5,5,4,3,4,3,3,5,2,5,5,4
4,1,2,5,5,4,2,5,3,4,5,5,5,1,3,4,1,5,4,5,5
5,4,5,1,1,5,1,3,1,3,5,2,4,1,2,1,4,5,2,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,5,NaN,NaN,NaN,2,NaN,NaN,NaN,4,NaN,NaN,NaN,5,NaN,NaN,NaN,1,NaN,NaN,NaN
97,5,NaN,NaN,NaN,4,NaN,NaN,NaN,5,NaN,NaN,NaN,1,NaN,NaN,NaN,4,NaN,NaN,NaN
98,4,NaN,NaN,NaN,5,NaN,NaN,NaN,5,NaN,NaN,NaN,1,NaN,NaN,NaN,4,NaN,NaN,NaN
99,2,NaN,NaN,NaN,2,NaN,NaN,NaN,1,NaN,NaN,NaN,2,NaN,NaN,NaN,4,NaN,NaN,NaN
100,4,NaN,NaN,NaN,4,NaN,NaN,NaN,2,NaN,NaN,NaN,1,NaN,NaN,NaN,3,NaN,NaN,NaN

In [8]:
df.count()

2019_70_1    100
2019_70_2     90
2019_70_3     77
2019_70_4     83
2020_71_1    100
2020_71_2     90
2020_71_3     77
2020_71_4     83
2021_72_1    100
2021_72_2     90
2021_72_3     77
2021_72_4     83
2022_73_1    100
2022_73_2     90
2022_73_3     77
2022_73_4     83
2023_74_1    100
2023_74_2     90
2023_74_3     77
2023_74_4     83
dtype: int64